.App {
    text-align: center;
    display: flex;
    padding:24px;
    min-height: 640px;
}

.App .editor-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding:16px;
}

.App .editor-container .ck-content{
    flex:1 1 auto;
}

.App #sidebar {
    min-width: 400px;
}
